* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  height: 100vh;
  background-image: url("../img/background.png");
  background-position: center;
  background-size: cover;
}

p {
  color: #777777;
}

.container {
  margin: 0px 100px;
}

.logo img {
  margin-top: 30px;
  width: 100px;
}

.header-text {
  max-width: 350px;
  margin-top: 140px;
}

.header-text h1 {
  font-size: 34px;
}

.header-text p {
  font-size: 15px;
  line-height: 18px;
}

button {
  margin-top: 20px;
  margin-bottom: 60px;
}

.common-btn {
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 2px solid #f67c92;
  font-weight: bold;
  cursor: pointer;
}

.line {
  line-height: 8px;
}

.line .line-1,
.line .line-2,
.line .line-3 {
  background: #f67c92;
  display: inline-block;
}

.line .line-1 {
  width: 15px;
  height: 15px;
}

.line .line-2 {
  width: 80px;
  height: 1px;
}

.line .line-3 {
  width: 60px;
  height: 1px;
}

.square {
  height: 12px;
  width: 12px;
  margin: 15px 0px;
  background-color: #f67c92;
  display: inline-block;
}

#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #f67c92;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav ul li {
  list-style: none;
  margin: 50px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

#menuBtn {
  width: 50px;
  position: fixed;
  right: 65px;
  top: 35px;
  z-index: 2;
  cursor: pointer;
}

#about {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about .about-left-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#about .about-left-col img {
  width: 100%;
}

#about .about-right-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: right;
}

#about .about-right-col .about-text {
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}

#about .about-right-col p {
  margin-bottom: 50px;
}

#about .about-right-col h2 {
  margin: 50px 0px 10px;
  font-size: 28px;
  font-style: italic;
}

#about .about-right-col h3 {
  font-size: 20px;
  font-style: italic;
  color: #777777;
}

#features {
  padding: 50px 0px;
}

#features .feature-row {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#features .feature-row .feature-col {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
}

#features .feature-row .feature-col img {
  width: 100px;
}

#features .feature-row .feature-col h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

#features .feature-btn {
  margin: 80px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#features .feature-btn .line {
  text-align: right;
  display: inline-block;
  margin-right: 25px;
}

#courses {
  padding: 100px 0px;
}

#courses .course-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#courses .course-row .course-left-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#courses .course-row .course-left-col .course-text {
  width: 350px;
}

#courses .course-row .course-left-col .course-text button {
  margin: 30px 0;
}

#courses .course-row .course-right-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#courses .course-row .course-right-col img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */